/* Styling the containers */
.footer-links {
    margin-top: 30px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.footer1,
.footer2,
.footer3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    margin-left: 200px;
    margin-right: -300px;
    line-height: 30px;
}

.footer0 {
    margin-left: 200px;
    margin-top: 70px;
}

/* Styling the footer links */
footer a {
    color: rgb(161, 154, 154);
    font-size: 15px;
}

footer button,
footer p {
    margin-left: 200px;
}

footer button {
    margin-top: 30px;
    height: 35px;
    width: 110px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    font-size: 17px;
}

footer p {
    color: rgb(161, 154, 154);
}